#volume-parent{
	position:fixed;
	width: 48px;
	height:64px;
	top: -48px;
	left:80%;
	background: #fff;
	transition: top 0.2s;
}

#volume-parent:hover{
	top: 0px;
}

#volume{
	position:absolute;
	width:48px;
	height:48px;
	background: #ddd;
}