body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#volume-parent{
	position:fixed;
	width: 48px;
	height:64px;
	top: -48px;
	left:80%;
	background: #fafafa;
	transition: top 0.2s;
	-webkit-border-radius: 15%;
	-moz-border-radius: 15%;
	border-radius: 15%;
}

#volume-parent:hover{
	top: 0px;
}

#volume{
	position:absolute;
	width:48px;
	height:48px;
	background: url('../img/volume-button-on.gif');
}

.animated{
	position:fixed;
	top:60%;
	left:50%;
	background: url('../img/keys.gif');
	width:390px;
	height:246px;
	margin-left: -195px;
	margin-top: -123px;

	-webkit-animation-duration: 2s; 
    animation-duration: 2s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
}

@-webkit-keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
@keyframes fadeOut { 
    0% {opacity: 1;} 
    100% {opacity: 0;} 
} 
.fadeOut { 
    -webkit-animation-name: fadeOut; 
    animation-name: fadeOut; 
}