#main-container{
	margin-left: 60px;
	width: 70%;
	text-align:justify;
	-webkit-font-smoothing: antialiased;
}

pre {
  font-family: "Courier New" Courier monospace;
}

p{
	font-family: "proxima-nova", Verdana, sans-serif;
	font-weight: 100;
}

blockquote {
  background: #eee;
  border-left: 8px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.keyword{
	color: #1111ee;
}

.name{
	color: #111111;
}

.number{
	color: #112211;
}

.type{
	color: #55aacc;
}

.quote{
	color: #333311;
}

.comment{
	color: #119911;
}