table.gridtable {
	font-family: Muli,verdana,arial,sans-serif;
	font-size:13px;
	color:#333333;
	border-width: 0px;
	border-color: #666666;
	border-collapse: collapse;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
}

table.gridtable th {
	border-width: 0px;
	font-size: 13px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #aeaede;
}

table.gridtable td {
	border-width: 1px 0px 0px 0px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
}

tr:nth-child(even){
	background: #dddddd;
}

tr:nth-child(odd){
	background: #cccccc;
}

tr:hover{
	background: #f0f0f0;
}

a.table-link:link {
    color: #3333aa;
    text-decoration: none;
}

a.table-link:visited {
    color: #990099;
    text-decoration: none;
}

a.table-link:hover {
    color: #EE22EE;
    text-decoration: underline;
}

a.table-link:active {
    color: #2222EE;
    text-decoration: none;
}