body, html{
	width: 100%;
	height: 100%;
	font-family: "Open Sans", sans-serif;
	background: #ddd;
}

p{
	font-size: 1.0em;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color: #33f;
}

#top-row{
	width: 95%;
	height: 200px;
}

#prof-pic{
	background: url('../img/profile.jpg');
	width: 200px;
	height: 200px;
	display: inline-block;
	vertical-align: top;
}

#contact-info{
	height: 200px;
	width: 40%;
	margin-left: 50px;
	display: inline-block;
	vertical-align: top;
}

#contact-info ul{
	margin-top: 20px;
	list-style-type: none;
}

#social-links{
	height: 60px;
	margin-left: 10%;
	margin-top: 70px;
	width: 180px;
	display: inline-block;
	vertical-align: top;
}

#social-linkedin{
	background: url('../img/linkedin.png');
	margin-top: 10%;
	height: 48px;
	width: 48px;
	background-size: 48px 48px;
	display: inline-block;
}

#social-twitter{
	background: url('../img/twitter.png');
	height: 48px;
	width: 48px;
	background-size: 48px 48px;
	display: inline-block;
}

#social-github{
	background: url('../img/github.png');
	height: 48px;
	width: 48px;
	background-size: 48px 48px;
	display: inline-block;
}

#mid-row{
	width: 90%;
	height: 60%;
}

#mid-row-one{
	width: 40%;
	height: 80%;
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
	padding-left: 5%;
}

#mid-row-two{
	width: 50%;
	height: 80%;
	display: inline-block;
	margin-top: 20px;
	vertical-align: top;
}

#footer-container{
	width: 90%;
	height: 90%;
	height: 15%;
}

#footer{
	border-top: 1px solid #333;
	width: 20%;
	height: 50%;
	margin: auto;
}

#footer a{
	margin-left: 20%;
}

@media screen and (max-width: 922px) {
	#social-links{
		display: block;
	}
	
	#top-row{
		height: 320px;
	}
}

@media screen and (max-width: 700px) {
	#mid-row{
		height: auto;
	}
	
	#mid-row-one{
		margin-top: 20px;
		display: block;
		width: 90%;
		height: auto;
	}

	#mid-row-two{
		display: inline-block;
		width: 90%;
	}
	
	#footer-container{
		margin-top: 20px;
		display: block;
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dppx) { 
    #prof-pic{
		background: url('../img/profile-2x.jpg');
	}
}
